name: Update README

on:
  schedule:
    - cron: "0 8 1 * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: Readme-Workflows/recent-activity@v2.4.1
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAX_LINES: 5
          COMMIT_MSG: ":zap: Update README with the recent activity"
