name: Update README

on:
  schedule:
    - cron: "0 8 1 * *"
  workflow_dispatch:

jobs:
  build:
    name: Update this repo's README with recent activity
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: jamesgeorge007/github-activity-readme@v0.4.6
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          COMMIT_MSG: ":zap: Update README with the recent activity"
          EMPTY_COMMIT_MSG: ":memo: Empty commit to keep workflow active"
          FILTER_EVENTS: > 
            IssueCommentEvent,
            IssuesEvent,
            PullRequestEvent,
            PullRequestReviewEvent,
            PushEvent,
            ReleaseEvent
